// dev
.t {
    border: 1px solid red;
}

* {
    // border: 1px solid red;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px;
}

// var
$primary-color: #064580;
$accent-color: #EC7833;
$shadow-color: #eaeaea;

$breakpoint-mobile: 600px;
$breakpoint-tab: 768px;

// util

.font {
    &-bold { font-weight: bolder; }
    &-medium { font-weight: 500; }
    &-thin { font-weight: 400; }
}

.text {
    &-color {
        &-light { color: #fff }
        &-dark { color: #333 }
        &-gray { color: #999 }
        &-red { color: #f00 }
        &-green { color: #07ab07 }
        &-primary { color: $primary-color }
        &-accent { color: $accent-color }
    }
    &-h1 { font-size: 2.5rem;}
    &-h2 { font-size: 2rem;}
    &-h3 { font-size: 1.5rem;}
    &-h4 { font-size: 1.2rem;}
    &-lg { font-size: 1.5rem;}
    &-md { font-size: 1.2rem;}
    &-sm { font-size: .9rem;}
    &-left { text-align: left; }
    &-center { text-align: center; }
    &-right { text-align: right; }
}

.bg {
    &-white { background-color: #ffffff;}
    &-red { background-color: #ff0000;}
    &-primary { background-color: $primary-color}
    &-accent { background-color: $accent-color}
}

.m {
    &x {
        &-1 { margin: 0 10px; }
        &-2 { margin: 0 20px; }
        &-3 { margin: 0 30px; }
        &-4 { margin: 0 40px; }
        &-5 { margin: 0 50px; }
        &-6 { margin: 0 60px; }
        &-7 { margin: 0 70px; }
    }
    &y {
        &-1 { margin: 10px 0; }
        &-2 { margin: 20px 0; }
        &-3 { margin: 30px 0; }
        &-4 { margin: 40px 0; }
        &-5 { margin: 50px 0; }
        &-6 { margin: 60px 0; }
        &-7 { margin: 70px 0; }
    }
    &-1 { margin: 10px; }
    &-2 { margin: 20px; }
    &-3 { margin: 30px; }
    &-4 { margin: 40px; }
    &-5 { margin: 50px; }
    &-6 { margin: 60px; }
    &-7 { margin: 70px; }
    &-center { margin: 0 auto; }
}
.p {
    &x {
        &-1 { padding: 0 10px; }
        &-2 { padding: 0 20px; }
        &-3 { padding: 0 30px; }
        &-4 { padding: 0 40px; }
        &-5 { padding: 0 50px; }
        &-6 { padding: 0 60px; }
        &-7 { padding: 0 70px; }
    }
    &y {
        &-1 { padding: 10px 0; }
        &-2 { padding: 20px 0; }
        &-3 { padding: 30px 0; }
        &-4 { padding: 40px 0; }
        &-5 { padding: 50px 0; }
        &-6 { padding: 60px 0; }
        &-7 { padding: 70px 0; }
    }
    &-1 { padding: 10px; }
    &-2 { padding: 20px; }
    &-3 { padding: 30px; }
    &-4 { padding: 40px; }
    &-5 { padding: 50px; }
    &-6 { padding: 60px; }
    &-7 { padding: 70px; }
}

.h {
    &-px { height: 1px; }
    &-1 { height: 10px; }
    &-2 { height: 20px; }
    &-4 { height: 40px; }
    &-6 { height: 60px; }
    &-8 { height: 80px; }
    &-full { height: 100%; }
    &-screen { height: 100vh }
}
.w {
    &-px { width: 1px; }
    &-1 { width: 10px; }
    &-2 { width: 20px; }
    &-4 { width: 40px; }
    &-6 { width: 60px; }
    &-8 { width: 80px; }
    &-full { width: 100%; }
    &-screen { width: 100vw; }
}

.shadow {
    &-sm { box-shadow: 0 0 0 3px $shadow-color; }
    &-md { box-shadow: 0 0 2px 5px $shadow-color; }
    &-lg { box-shadow: 0 0 5px 5px $shadow-color; }
    &-xl { box-shadow: 0 0 8px 10px $shadow-color; }
}
.flex {
    display: flex;
    &-col { flex-direction: column; }
    &-col-reverse { flex-direction: column-reverse; }
    &-row { flex-direction: row; }
    &-row-reverse { flex-direction: row-reverse; }
}

.justify {
    &-center { justify-content: center; }
    &-start { justify-content: start; }
    &-end { justify-content: end; }
    &-between { justify-content: space-between; }
    &-around { justify-content: space-around; }
}

.gap {
    &-1 { gap: 10px; }
    &-2 { gap: 20px; }
    &-3 { gap: 30px; }
    &-4 { gap: 40px; }
    &-5 { gap: 50px; }
    &-y {
        &-1 { row-gap: 10px; }
        &-2 { row-gap: 20px; }
        &-3 { row-gap: 30px; }
        &-4 { row-gap: 40px; }
        &-5 { row-gap: 50px; }
    }
    &-x {
        &-1 { column-gap: 10px; }
        &-2 { column-gap: 20px; }
        &-3 { column-gap: 30px; }
        &-4 { column-gap: 40px; }
        &-5 { column-gap: 50px; }
    }
}

.items {
    &-center { align-items: center; }
    &-start { align-items: flex-start; }
    &-end { align-items: flex-end; }
}

.fixed {
    &-top { position: fixed; left: 0; right: 0; top: 0; }
    &-left { position: fixed; left: 0; bottom: 0; top: 0; }
    &-right { position: fixed; bottom: 0; right: 0; top: 0; }
    &-bottom { position: fixed; left: 0; right: 0; bottom: 0; }
}

// layouts
.container {
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
    &--fluid{
        max-width: 100%;
        width: 100%;
    }
}